/*

body, header, nav, ul, li, section, article, footer
#hero, .kurs-tilbud, .vaare-kurs, .btn, sosialemedier

Since we haven't learned about media queries yet, this CSS file is not responsive.
Wrapping occurs(by choice), this is just not ideal, and temporary.
Will come back at a later date to make this responsive with media queries.
*/

:root {
  --primary-background-color: #767676;
  /* most content uses this font color */
  --primary-text-color: #f1f1f1;
  /* used by fields with "filler" text, and footer text */
  --primary-text-color-dark: #000000;
  --button-text-color: #160041;
  --button-font-family: "Roboto slab", sans-serif;
  --button-font-size: 16px;
  --button-font-weight: 400;
  /* "h1" only used on bestilling.html and galleri.html */
  --largest-heading-font-family: "Roboto slab", sans-serif;
  --largest-heading-font-size: 96px;
  --largest-heading-font-weight: 700;
  /* "h2" */
  --large-heading-font-family: "Roboto slab", sans-serif;
  --large-heading-font-size: 40px;
  --large-heading-font-weight: 600;
  /* h3 */

  /* linker */
  --default-link-padding: 1em 2em;
  --default-border-radius: 25px;
  --link-text-color: #160041;
  --link-text-hover-color: #160041;
  --link-text-visited-color: #160041;
  --link-background-color: rgba(236, 236, 236, 0.75);
  --link-background-hover-color: linear-gradient(
    90deg,
    rgba(138, 0, 69, 0.75) 0%,
    rgba(240, 0, 120, 0.75) 49%,
    rgba(240, 0, 120, 0.75) 100%
  );
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* link reset */
a {
  all: unset;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-background-color);
}

h3 {
  padding: 0.3em 0em 1em 0em;
}

header {
  /* display: flex;
  flex-flow: column nowrap; */
  background-image: url("img/hero-header-logo/logoHeaderBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 410px;
  width: auto;
}

nav,
header,
li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-right: 5em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5em;
  align-items: center;
}

#hero {
  background-image: url("img/hero-header-logo/logoHero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 933px;
  width: auto;
  margin-top: 1.5em;
}

.kurs-tilbud img {
  display: flex;
  width: 451px;
  height: auto;
}

.linker-navigering {
  background-color: var(--link-background-color);
  color: var(--link-text-color);
  padding: var(--default-link-padding);
}

.btn,
.linker-navigering {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  color: var(--button-text-color);
  border-radius: var(--default-border-radius);
}

.btn:hover,
.linker-navigering:hover {
  background: var(--link-background-hover-color);
  color: var(--link-text-hover-color);
}

footer {
  background-color: #d9d9d9;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

.column {
  line-height: 1.5;
  letter-spacing: 0.5px;
  display: flex;
  min-width: 25em;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1em 2em;
}

.column-txt-center {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  min-width: 25em;
  height: 100%;
  margin-left: 1em;
  margin-top: 1em;
}

.sosiale-medier {
  display: flex;
  gap: 2em;
  align-items: flex-end;
  justify-content: flex-end;
}

#footerButton {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.btn {
  align-self: flex-end;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #919191;
  padding: var(--default-link-padding);
  border: 0px;
  max-width: fit-content;
}

a.btn {
  all: unset;
  display: inline-flex;
  text-decoration: none;
  padding: var(--default-link-padding);
}

.sosiale-medier img {
  width: 3em;
  height: 3em;
}

.icon-link {
  display: inline-block;
  transition: transform 500ms ease-in-out;
}

.icon-link:hover {
  transform: rotate3d(0, 1, 0, 360deg);
}
